<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="ConsoleAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{MM.dd. HH.mm.ss.SSS} [%t] [%level] [%logger{36}]-%msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="RollingAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>app.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				%d{MM.dd. HH.mm.ss.SSS} [%t] [%level] [%logger{36}]-%msg%n
			</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>app_%d{dd-MM-yyyy}.log</fileNamePattern>
			<maxHistory>10</maxHistory>
			<totalSizeCap>10KB</totalSizeCap>
		</rollingPolicy>
	</appender>
	<logger name="com.demo" level="info" additivity="false">

		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="RollingAppender" />
	</logger>

	<logger name="org.springframework.boot" level="info"
		additivity="false">
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="RollingAppender" />
	</logger>

	<root level="info">
		<appender-ref ref="ConsoleAppender" />
	</root>
</configuration>







